<app-navbar></app-navbar>

<div class="container-fluid">
    <h2 class="text2">¡Hola {{nombreUsuario}}!</h2>
    <div class="inprogress" *ngIf="ordenProgreso != ''">
        <h6>Destino: {{ordenProgreso.ubicacionOrden.direccion}}</h6>
        <h5>Comprador: {{ordenProgreso.cliente.nombre}} {{ordenProgreso.cliente.apellido}}</h5>
        <h5 style="color: #8E03CF;">Estado de orden: {{estadoOrden}}</h5>
        <button type="button" class="btn btn-progress1" [disabled]="estadoOrden == 'En camino' || estadoOrden == 'En origen' || estadoOrden == 'En destino'">En camino</button>
        <button type="button" class="btn btn-progress2" (click)="enOrigen()" [disabled]="estadoOrden == 'En destino' || estadoOrden == 'En origen'">En origen</button>
        <button type="button" class="btn btn-progress3" (click)="enDestino()" [disabled]="estadoOrden == 'En camino' || estadoOrden == 'En destino'">En destino</button>
        <button type="button" class="btn btn-progress4" (click)="entregada()" [disabled]="estadoOrden == 'En camino' || estadoOrden == 'En origen'">Entregada</button>
    </div>
    <h5 class="text2">Ordenes disponibles</h5>
    <h4 *ngIf="ordenesDisponibles==''" class="text4">No hay ordenes disponibles en este momento</h4>
    <div class="available" *ngFor="let orden of ordenesDisponibles" [routerLink]="['/Detalle-orden', orden._id]">
        <img src="../../assets/img/las-compras-en-linea.png" alt="imagen">
        <h5>Destino: {{orden.ubicacionOrden.direccion}}</h5>
        <h6>Comprador: {{orden.cliente.nombre}} {{orden.cliente.apellido}}</h6>
        <h6>Total a pagar: {{orden.factura.total | currency:'Lps. '}}</h6>
        <h4>Fecha de compra: {{orden.fecha | date:'dd-MM-yyyy'}}</h4>
    </div>
    <h5 class="text2">Ordenes tomadas</h5>
    <h5 class="text3">No han sido entregadas</h5>
    <h4 *ngIf="ordenesTomadas==''" class="text4">No hay ordenes tomadas en este momento</h4>
    <div class="taken" *ngFor="let orden of ordenesTomadas" [routerLink]="['/Detalle-orden', orden._id]">
        <img src="../../assets/img/compras.png" alt="imagen">
        <h5>Destino: {{orden.ubicacionOrden.direccion}}</h5>
        <h6>Comprador: {{orden.cliente.nombre}} {{orden.cliente.apellido}}</h6>
        <h6>Cantidad: {{orden.factura.total | currency:'Lps. '}}</h6>
        <h4>Fecha de compra: {{orden.fecha | date:'dd-MM-yyyy'}}</h4>
    </div>
</div>

<app-footer></app-footer>
