<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="inprogress">
        <h6>Destino: Col. La Travesia</h6>
        <h5>Comprador: Melany Ávila</h5>
        <button type="button" class="btn btn-progress1">En camino</button>
        <button type="button" class="btn btn-progress2">En origen</button>
        <button type="button" class="btn btn-progress3">En destino</button>
        <button type="button" class="btn btn-progress4">Entregada</button>
    </div>
    <h5 class="text2">Ordenes disponibles</h5>
    <div class="available" routerLink="/Detalle-orden">
        <img src="../../assets/img/zapatillas.png" alt="">
        <h5>Destino: Col. La Travesia</h5>
        <h6>Comprador: Marcos Torres</h6>
        <h6>Cantidad: 1 unidad</h6>
        <h4>Hora de compra: 05:40 pm</h4>
    </div>
    <div class="available" routerLink="/Detalle-orden">
        <img src="../../assets/img/zapatillas.png" alt="">
        <h5>Destino: Col. San Miguel</h5>
        <h6>Comprador: Kevin Flores</h6>
        <h6>Cantidad: 2 unidades</h6>
        <h4>Hora de compra: 03:10 pm</h4>
    </div>
    <h5 class="text2">Ordenes tomadas</h5>
    <h5 class="text3">No han sido entregadas</h5>
    <div class="taken">
        <img src="../../assets/img/juguetes.png" alt="">
        <h5>Destino: Miraflores</h5>
        <h6>Comprador: Camilo Acosta</h6>
        <h6>Cantidad: 1 unidad</h6>
        <h4>Hora de compra: 03:30 pm</h4>
    </div>
    <div class="taken">
        <img src="../../assets/img/juguetes.png" alt="">
        <h5>Destino: Miraflores</h5>
        <h6>Comprador: Carla Medina</h6>
        <h6>Cantidad: 1 unidad</h6>
        <h4>Hora de compra: 01:45 pm</h4>
    </div>
</div>

<app-footer></app-footer>
