<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="inprogress">
        <h6>Destino: Col. La Travesia</h6>
        <h5>Comprador: Melany Ávila</h5>
        <button type="button" class="btn btn-progress1">En camino</button>
        <button type="button" class="btn btn-progress2">En origen</button>
        <button type="button" class="btn btn-progress3">En destino</button>
        <button type="button" class="btn btn-progress4">Entregada</button>
    </div>
    <h5 class="text2">Ordenes disponibles</h5>
    <div class="available" routerLink="/Detalle-orden" *ngFor="let item of ordenesDisponibles">
        <img src="../../assets/img/{{item.imgOrden}}" alt="">
        <h5>Destino: {{item.destino}}</h5>
        <h6>Comprador: {{item.nombreComprador}}</h6>
        <h6>Cantidad: {{item.cantidad}}</h6>
        <h4>Hora de compra: {{item.horaCompra}}</h4>
    </div>
    <h5 class="text2">Ordenes tomadas</h5>
    <h5 class="text3">No han sido entregadas</h5>
    <div class="taken" *ngFor="let item of ordenesTomadas">
        <img src="../../assets/img/{{item.imgOrden}}" alt="">
        <h5>Destino: {{item.destino}}</h5>
        <h6>Comprador: {{item.nombreComprador}}</h6>
        <h6>Cantidad: {{item.cantidad}}</h6>
        <h4>Hora de compra: {{item.horaCompra}}</h4>
    </div>
</div>

<app-footer></app-footer>
