<div class="container-fluid">
    <img src="../assets/img/Logo-Carrier.png" id="logo">
    <h5 id="text1">Requisitos</h5>
    <div class="requirement">
        <h6>♦ Una buena actitud en todo momento</h6>
        <h6>♦ Poseer motocicleta propia y en buen estado</h6>
        <h6>♦ Licencia de conducir vigente</h6>
        <h6>♦ Contar con minimo 1 año de experiencia</h6>
        <h6>♦ Celular con datos moviles</h6>
        <h6>♦ Tener mas de 20 años</h6>
        <h6>♦ Tomar una capacitacion con nosotros</h6>
    </div>
    <div class="requirement2">
        <button type="button" class="btn btn-success" id="btn-req">Registrarse</button>
    </div>
</div>
