<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="../assets/img/Logo-Carrier.png" id="img-logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none" id="noLoggedDropdown">
          <li class="nav-item">
            <img src="../assets/img/Logo2-blanco.png" id="logo-blanco"  alt="...">
            <hr>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-light" id="btn-1">Aplica</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-light mt-3" id="btn-2">Iniciar Sesion</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-light mt-3 mb-3" id="btn-3">Registrate</button>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="LoggedDropdown">
          <li class="nav-item">
            <img src="../assets/img/Logo2-blanco.png" id="logoNavbar">
            <hr>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-loggin" id="btnLogged1">
              <fa-icon class="fa-dropdown icon-user" [icon]="faUserCircle"></fa-icon>
              | Juan Martinez</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-loggin mt-3" id="btnLogged2">
              <fa-icon class="fa-dropdown" [icon]="faSignOutAlt" id="fa-his"></fa-icon>
              | Historial de órdenes</button>
          </li>
          <li class="nav-item">
          </li>
          <button type="button" class="nav-link btn btn-loggin mt-3 mb-3" id="btnLogged3">
            <fa-icon class="fa-dropdown icon-user" [icon]="faClipboardList"></fa-icon>
           | Cerrar Sesión</button>
        </ul>
      </div>
    </div>
  </nav>
