<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="../assets/img/Logo-Carrier.png" id="img-logo" (click)="verInicio()">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="usuario == ''" id="noLoggedDropdown">
          <li class="nav-item">
            <img src="../assets/img/Logo2-Carrier.png" id="logoNavbar"  routerLink="/">
            <hr>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-light" id="btn-1" routerLink="/Requisitos">Aplica</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-light mt-3" id="btn-2" routerLink="/Inicio-sesion">Iniciar Sesion</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-light mt-3 mb-3" id="btn-3" routerLink="/Registro">Registrate</button>
          </li>
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="usuario != ''" id="LoggedDropdown">
          <li class="nav-item">
            <img src="../assets/img/Logo2-Carrier.png" id="logoNavbar" routerLink="/Home">
            <hr>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-loggin" id="btnLogged1">
              <fa-icon class="fa-dropdown icon-user" [icon]="faUserCircle"></fa-icon>
              | {{usuario.nombre}} {{usuario.apellido}}</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link btn btn-loggin mt-3" id="btnLogged2" routerLink="/Historial-orden">
              <fa-icon class="fa-dropdown" [icon]="faSignOutAlt" id="fa-his"></fa-icon>
              | Historial de órdenes</button>
          </li>
          <li class="nav-item">
          </li>
          <button type="button" class="nav-link btn btn-loggin mt-3 mb-3" id="btnLogged3" (click)="logOut()">
            <fa-icon class="fa-dropdown icon-user" [icon]="faClipboardList"></fa-icon>
           | Cerrar Sesión</button>
        </ul>
      </div>
    </div>
  </nav>
  <ngx-spinner *ngIf="isLoading" bdColor = "rgba(255,255,255,0.8)" size = "large" color = "#1A7BDB" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>
