<div class="container-fluid">
    <img src="../assets/img/Logo-Carrier.png" id="logo" routerLink="/">
    <form class="needs-validation" novalidate [formGroup]="formLogin">
        <div class="form-contenido">
            <h2>Inicio de Sesión</h2>
            <div>
                <h5>Correo electrónico</h5>
                <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.valid}"
                    placeholder="ejemplo@gmail.com" formControlName="correo" required>
                <div class="invalid-feedback login-feedback" *ngIf="correo.errors">
                    <span *ngIf="correo.errors.pattern && correo.errors.pattern != null">Correo Inválido</span>
                    <span *ngIf="correo.errors.required && (responseLoggin.code != 0)">Este campo no puede quedar vacío</span>
                    <span *ngIf="responseLoggin.code == 0">{{responseLoggin.message}}</span>
                </div>
            </div>
            <div>
                <h5>Contraseña</h5>
                <input type="password" class="form-control" name="password" autocomplete="on"
                    [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}"
                    formControlName="password" required>
                <div class="invalid-feedback login-feedback" *ngIf="password.errors">
                    <span *ngIf="password.errors.required && (responseLoggin.code != 2)">Este campo no puede quedar vacío</span>
                    <span *ngIf="password.errors.minlength && (responseLoggin.code != 2)">Mínimo 8 caracteres</span>
                    <span *ngIf="responseLoggin.code == 2">{{responseLoggin.message}}</span>
                </div>
            </div>
        </div>
        <div class="form-links pt-2">
            <button type="button" class="btn btn-success" id="btn-login" [disabled]="!formLogin.valid" (click)="login()"
            >Iniciar sesión</button>
            <div class="response-loggin" *ngIf="">
                <span>{{responseLoggin.message}}</span>
            </div>
            <h6>¿Aun no tienes una cuenta?</h6>
            <a routerLink="/Registro" id="registro">Registrate</a>
        </div>
    </form>
</div>
<ngx-spinner *ngIf="isLoading" bdColor = "rgba(255,255,255,0.8)" size = "large" color = "#1A7BDB" type = "square-jelly-box" [fullScreen] = "true"></ngx-spinner>