<app-navbar></app-navbar>
<div id="historialContainer" class="container pb-3">
    <h5 class="text2">Mis órdenes entregadas</h5>
    <hr>
    <div class="row" id="historial">
        <h3 class="text-initial mt-2">08/09/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6>Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
        <h3 class="text-initial mt-2">05/08/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
        <h3 class="text-initial mt-2">23/07/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
    </div>
</div>

<app-footer></app-footer>