<app-navbar></app-navbar>
<div id="historialContainer" class="container pb-3">
    <h5 class="text2">Mis órdenes entregadas</h5>
    <hr>
    <div class="row" id="historial">
        <h3 class="text-initial mt-2">08/09/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6>Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <a data-bs-toggle="modal" data-bs-target="#modalInvoice" class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </a>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
        <h3 class="text-initial mt-2">05/08/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
        <h3 class="text-initial mt-2">23/07/2021</h3>
        <hr>
        <div class="col-8 mt-2">
            <h6>Destino: Col. La Travesia</h6>
            <h6> Comprador: Melany Avila</h6>
            <h6>Total de Factura: L. 990.00</h6>
            <h6>Comision otorgada: Lps. 100</h6>
        </div>
        <div class="col-4 mb-2">
            <img class="d-block img-historial" src="../../assets/img/documento.png" alt="">
        </div>
        <hr>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalInvoice" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="../assets/img/Logo-Carrier.png" id="logo">
            </div>
            <div class="modal-body container">
                <h3 class="text-center">Factura</h3>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Envío</th>
                            <th scope="col">ISV</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                        <tr>
                            <td class="invoice-description">Wendy´s Pack =1 HAM, 1 REF 1.25L, 1 PAPAS MED</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total:</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="invoice-cost">L.100.00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-modal" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>