<app-navbar></app-navbar>

<div class="container-fluid">
    <h5 class="text2">Detalle de Orden</h5>
    <div class="img-product">
        <img src="../../assets/img/zapatillas.png" alt="">
    </div>
    <div class="details">
        <h1>Tenis de colores </h1>
        <p>Zapato marca Nike, color: Rojo, numero EUR38, USA 8</p>
        <hr>
        <h5>Cantidad: 1 unidad</h5>
        <h5>Precio: Lps. 1,000</h5>
        <h5>Categoria: Zapatos</h5>
        <h5>Empresa: Payless</h5>
        <button type="button" class="btn btn-success" id="btn-taken">Tomar orden</button>
    </div>
</div>

<app-footer></app-footer>

