<app-navbar></app-navbar>

<div class="container-fluid" *ngFor="let item of detalleOrden">
    <h5 class="text2">Detalle de Orden</h5>
    <div class="img-product">
        <img src="../../assets/img/{{item.imgOrden}}" alt="...">
    </div>
    <div class="details">
        <h1>{{item.nombreArticulo}}</h1>
        <p>{{item.descripcion}}</p>
        <hr>
        <h5>Cantidad: {{item.cantidad}}</h5>
        <h5>Precio: {{item.precio}}</h5>
        <h5>Categoria: {{item.categoria}}</h5>
        <h5>Empresa: {{item.empresa}}</h5>
        <button type="button" class="btn btn-success" id="btn-taken" routerLink="/Home">Tomar orden</button>
    </div>
</div>

<app-footer></app-footer>

