<app-navbar></app-navbar>

<div class="container-fluid">
    <h5 class="text2">Detalle de Orden</h5>
    <div *ngFor="let detalle of detalleOrden.detalleProductos">
        <div class="img-product">
            <img src="{{detalle.producto.imagen}}" alt="...">
        </div>
        <div class="details pb-4">
            <h1>{{detalle.producto.nombre}}</h1>
            <p>{{detalle.producto.descripcion}}</p>
            <hr>
            <h5>Cantidad: {{detalle.cantidad}}</h5>
            <h5>Precio unitario: Lps. {{detalle.producto.precio}}</h5>
            <h5>Categoria: {{detalle.producto.categoria}}</h5>
            <h5>Empresa: {{detalle.producto.empresa}}</h5>
        </div>
    </div>
    <h5 id="txt-map">Ubicación de la orden</h5>
    <app-map #ubicacion></app-map>
    <button type="button" class="btn btn-success mb-3" id="btn-taken" (click)="tomarOrden()">Tomar orden</button>
</div>

<app-footer></app-footer>

