$sm-breackpoint: 576px
$lg-breackpoint: 960px
$azul-claro : #11BDF2
$azul-oscuro: #1A7BDB
$rosado-claro: #FFE9C7
$rosado-intermedio: #D60451
$rosado-oscuro: #A6032F

/*Nany Fonts*/
@font-face 
    font-family: 'Roboto'
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf')

@font-face 
    font-family: 'Raleway'
    src: url('assets/fonts/Raleway/Raleway-Bold.ttf')

#img-logo
    height: 40px

@media (max-width: $sm-breackpoint)
    body
        font-family: Raleway

    /* Estilos Carousel*/
    .container-fluid
        padding-right: 0px !important
        padding-left:  0px !important

    .carousel
        height: 200px
        z-index: 1
        position: absolute

    .carousel-landing
        background-attachment: fixed
        height: 200px !important
        background-repeat: no-repeat
    
    .carousel-info
        z-index: 2
        position: relative
        padding-top: 40px
        padding-bottom: 30px
        width: 40%
        height: 200px
        margin-left: 30px
    
    .carousel-info h6 
        color: #000
        text-align: center
        font-size: 1.0rem

    .carousel-info button
        margin-top: 15px
        margin-left: 20px
        height: 30px
        width: 112px
        font-size:15px
        font-weight: bold
        text-align: center
        vertical-align: middle
        line-height: 0
        border-radius: 20px

    /* Estilos Navbar*/
    .navbar-toggler
        margin-right: 5px
        margin-bottom: 5px

    .navbar-nav .nav-link
        font-weight: bold
        width: 70%
        margin: auto
    
    hr
        margin: 15px 40px
        background-color: white
        opacity: 0.50

    #img-logo
        height: 40px
        margin-left: 5px

    #logo-blanco
        height: 30px
        margin-top: 25px
        margin-left: 37%

    #navbarContent
        background: linear-gradient(0.31deg, #1A7BDB -2.62%, rgba(255, 255, 255, 0) 37.94%,rgba(255, 255, 255, 0) 49.13%), #11BDF2
        background-blend-mode: multiply, normal

    #btn-1
        border-radius: 40px
        background-color: $rosado-claro
        border-color: $rosado-claro
        color: $rosado-intermedio

    #btn-2
        border-radius: 40px
        background-color: $rosado-oscuro
        border-color: $rosado-oscuro
        color: #FFF

    #btn-3
        border-radius: 40px
        background-color: $rosado-intermedio
        border-color: $rosado-intermedio
        color: #FFF
    
    /* Estilos Main */
    .btn-success
        padding: 0px

    .benef
        width: 40px
        height: 40px
        text-align: center
        color: #FFF
    
    .requis
        width: 60px
        height: 60px
        text-align: center
        margin-top: 30px

    #div-text
        background-color: $azul-claro
        text-align: center
        height: 70px
        color: #FFF
        padding-top: 10px
    
    #icono
        height: 120px
        margin: 20px
    
    #div-service
        text-align: center
        padding-top: 20px
        margin-right: 15px
    
    #btn-afiliado
        border-radius: 20px
        background-color: $azul-oscuro
        border-color: $azul-oscuro
        color: #FFF
        width: 110px
        height: 30px
    
    #div-beneficios
        background-color: $azul-oscuro
        height: 189px
        color: #FFF
        padding-top: 15px
        text-align: center
        border-bottom-left-radius: 36%
        border-bottom-right-radius: 36%

    #text-requisito h5
        text-align: center
        margin-top: 20px

    #img-logo2
        height: 90px
        margin-top: 10px
        margin-left: 20%
        margin-bottom: 10px
    
    #requisito
        height: 250px
        background-color: $rosado-intermedio
        color: #fff
        text-align: center

    #btn-requisito
        border-radius: 20px
        background-color: $azul-oscuro
        border-color: $azul-oscuro
        color: #FFF
        width: 190px
        height: 30px
        margin: auto
    
    #preguntas
        margin-bottom: 30px
    
    #preguntas h3 
        text-align: center
        margin-top: 20px
        margin-bottom: 30px
    
    /*Estilos Login*/
    .form-contenido
        background-color: $azul-claro
        height: 320px
        border-top-left-radius: 40%
        border-top-right-radius: 40%
        color: #fff

    .form-contenido h2
        padding-top: 60px
        text-align: center
    
    .form-contenido input
        width: 90%
        margin: auto
        border-radius: 12px
    
    .form-contenido h5
        margin-top: 25px
        margin-bottom: 25px
        padding-left: 22px

    .form-links
        background-color: $azul-claro
        height: 200px
    
    .form-links a 
        color: #fff
        text-decoration: none
        font-size: 13px
        padding-left: 22px
    
    .form-links h6
        margin-top: 30px
        padding-left: 20%
        color: #FFF

    #btn-login
        border-radius: 20px
        background-color: $azul-oscuro
        border-color: $azul-oscuro
        color: #FFF
        width: 90%
        height: 40px
        margin-left: 5%
        margin-top: 25px

    #logo
        width: 60%
        margin-left: 20%
        margin-top: 20px
        margin-bottom: 20px
    
    #registro
        color: $rosado-intermedio
        text-decoration: none
        font-size: 15px
        padding-left: 40%
    
    /*Estilos Register*/
    .info h5
        color: $rosado-intermedio
        margin-left: 13%
    
    .form-contenedor
        background-color: $azul-claro
        height: 320px
        border-top-left-radius: 40%
        border-top-right-radius: 40%
        color: #fff
    
    .form-contenedor h5
        margin-top: 15px
        margin-bottom: 10px
        padding-left: 22px
    
    .form-contenedor h2 
        padding-top: 60px
        text-align: center
    
    .register
        background-color: $azul-claro
        height: 800px
        color: #fff
    
    .register select 
        width: 90%
        margin: auto
        border-radius: 12px

    .register h5 
        margin-top: 15px
        margin-bottom: 10px
        padding-left: 22px
    
    .register h6
        margin-top: 30px
        padding-left: 25%
        color: #FFF
    
    .inp-form
        width: 90%
        margin: auto
        border-radius: 12px

    .chk-form
        margin-bottom: 10px
        padding-left: 22px

    #btn-registro
        border-radius: 20px
        background-color: $azul-oscuro
        border-color: $azul-oscuro
        color: #FFF
        width: 60%
        height: 40px
        margin-left: 20%
        margin-top: 10px
        margin-bottom: 25px
    