/*Nany colors*/
$color-pink1: #D60451
$color-pink2: #A6032F
$color-pink3: #FFE9C7
$color-blue1: #11BDF2
$color-blue2: #1A7BDB

/*Screen Sizing*/ 
$sm-breackpoint: 576px
$lg-breackpoint: 960px

/*Nany Fonts*/
@font-face 
    font-family: 'Roboto'
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf')

@font-face 
    font-family: 'Raleway'
    src: url('assets/fonts/Raleway/Raleway-Bold.ttf')

#img-logo
    height: 40px

@media (max-width: $sm-breackpoint)
    body
        font-family: Raleway
    
    hr 
        margin: 10px 20px

    /*Carousel Styles*/
    .container-fluid
        padding-right: 0px !important
        padding-left:  0px !important
    
    .row-landing
        margin-left: 0px !important
        margin-right: 0px !important

    .carousel
        height: 200px
        z-index: 1
        position: absolute

    .carousel-landing
        background-attachment: fixed
        height: 200px !important
        background-repeat: no-repeat
    
    .carousel-info
        z-index: 2
        position: relative
        padding-top: 40px
        padding-bottom: 30px
        width: 40%
        height: 200px
        margin-left: 30px
    
    .carousel-info h6 
        color: #000
        text-align: center
        font-size: 1.0rem

    .carousel-info button
        margin-top: 15px
        margin-left: 15px
        height: 30px
        width: 112px
        font-size:15px
        font-weight: bold
        text-align: center
        vertical-align: middle
        line-height: 0
        border-radius: 20px
  
    /*Main Styles*/
    .btn-success
        padding: 0px

    .benef
        width: 40px
        height: 40px
        text-align: center
        color: #FFF
    
    .requis
        width: 60px
        height: 60px
        text-align: center
        margin-top: 30px

    #div-text
        background-color: $color-blue1
        text-align: center
        height: 70px
        color: #FFF
        padding-top: 10px
    
    #icono
        height: 120px
        margin: 20px 10px
    
    #div-service
        text-align: center
        padding-top: 20px
    
    #btn-afiliado
        border-radius: 20px
        background-color: $color-blue2
        border-color: $color-blue2
        color: #FFF
        width: 110px
        height: 30px
    
    #div-beneficios
        background-color: $color-blue2
        height: 189px
        color: #FFF
        padding-top: 15px
        text-align: center
        border-bottom-left-radius: 36%
        border-bottom-right-radius: 36%
    
    #div-beneficios h6 
        font-size: 14px

    #text-requisito h5
        text-align: center
        margin-top: 20px

    #img-logo2
        height: auto
        margin-top: 10px
        margin-left: auto
        margin-bottom: 10px
        margin-right: auto
        width: 50%
        display: flex
    
    #requisito
        height: 250px
        background-color: $color-pink1
        color: #fff
        text-align: center

    #btn-requisito
        border-radius: 20px
        background-color: $color-blue2
        border-color: $color-blue2
        color: #FFF
        width: 190px
        height: 30px
        margin: auto
    
    #preguntas
        margin-bottom: 30px
    
    #preguntas h3 
        text-align: center
        margin-top: 20px
        margin-bottom: 30px
    
    /*Login Styles*/
    .form-contenido
        background-color: $color-blue1
        height: 320px
        border-top-left-radius: 40%
        border-top-right-radius: 40%
        color: #fff

    .form-contenido h2
        padding-top: 60px
        text-align: center
    
    .form-contenido input
        width: 90%
        margin: auto
        border-radius: 12px
        background-color: $color-pink3
    
    .form-contenido h5
        margin-top: 25px
        margin-bottom: 25px
        padding-left: 22px

    .form-links
        background-color: $color-blue1
        height: 200px
    
    .form-links a 
        color: #fff
        text-decoration: none
        font-size: 13px
        padding-left: 22px
    
    .form-links h6
        margin-top: 30px
        padding-left: 17%
        color: #FFF

    #btn-login
        border-radius: 20px
        background-color: $color-blue2
        border-color: $color-blue2
        color: #FFF
        width: 90%
        height: 40px
        margin-left: 5%
        margin-top: 25px

    #logo
        width: 60%
        margin-left: auto
        margin-right: auto
        margin-top: 20px
        margin-bottom: 20px
        display: flex
    
    #registro
        color: $color-pink1
        text-decoration: none
        font-size: 15px
        margin-left: auto
        margin-right: auto
        display: flex
        width: max-content
        padding: 0
    
    /*Register Styles*/
    .info h5
        color: $color-pink1
        text-align: center
    
    .form-contenedor
        background-color: $color-blue1
        height: 320px
        border-top-left-radius: 40%
        border-top-right-radius: 40%
        color: #fff
    
    .form-contenedor h5
        margin-top: 15px
        margin-bottom: 10px
        padding-left: 22px
    
    .form-contenedor h2 
        padding-top: 60px
        text-align: center
    
    .register
        background-color: $color-blue1
        height: 980px
        color: #fff
    
    .register select 
        width: 90%
        margin: auto
        border-radius: 12px
        background-color: $color-pink3

    .register h5 
        margin-top: 15px
        margin-bottom: 10px
        padding-left: 22px
    
    .register h6
        margin-top: 30px
        padding: 0
        text-align: center
        color: #FFF
    
    .inp-form
        width: 90%
        margin: auto
        border-radius: 12px
        background-color: $color-pink3

    .chk-form
        margin-bottom: 10px
        padding-left: 22px

    #btn-registro
        border-radius: 20px
        background-color: $color-blue2
        border-color: $color-blue2
        color: #FFF
        width: 60%
        height: 40px
        margin-left: 20%
        margin-top: 10px
        margin-bottom: 25px

    /*Requirement Styles*/
    .requirement 
        background-color: $color-blue2
        height: 320px
        color: #fff
        border-top-left-radius: 25%
        border-top-right-radius: 25%
        padding-top: 45px
    
    .requirement h6 
        font-size: 15px
        padding-left: 28px
        padding-right: 12px
    
    .requirement2
        background-color: $color-blue2
        height: 80px
    
    #text1
        text-align: center
        color: $color-pink2
        margin-bottom: 15px
    
    #btn-req
        border-radius: 20px
        background-color: $color-pink2
        border-color: $color-pink2
        color: #FFF
        width: 90%
        height: 40px
        margin-left: 5%

    /*Homepage Styles*/
    .inprogress
        border: 3px solid #8E03CF
        border-radius: 25px
        height: 200px
        width: 90%
        margin: auto
        text-align: center
        padding-top: 15px
    
    .inprogress h5 
        font-size: 13px
    
    .btn-progress1
        width: 120px
        height: 31px
        margin-top: 35px
        margin-right: 5px
        background-color: #FF1E1E
        color: #fff
        border-radius: 35px
        font-size: 14px

    .btn-progress2
        width: 120px
        height: 31px
        margin-top: 35px
        background-color: #FFE600
        color: #fff
        border-radius: 35px
        font-size: 14px
    
    .btn-progress3
        width: 120px
        height: 31px
        margin-top: 12px
        margin-right: 5px
        background-color: #FF008A
        color: #fff
        border-radius: 35px
        font-size: 14px

    .btn-progress4
        width: 120px
        height: 31px
        margin-top: 12px
        background-color: #00EF35
        color: #fff
        border-radius: 35px
        font-size: 14px

    .text2
        color: $color-pink2
        text-align: center
        margin: 25px 0px

    .text3
        color: #6D6262
        text-align: center
        font-size: 13px
        margin-bottom: 16px
    
    .available
        border: 2px solid #1A7BDB
        height: 129px
        width: 90%
        margin: auto
        border-radius: 25px
        box-shadow: 0px 4px 4px 0px #00000040
        color: #0000008A
        margin-bottom: 25px
    
    .available img
        width: 15%
        height: auto
        margin-top: 30px
        margin-bottom: auto
        display: flex
        position: absolute
        z-index: 2
        margin-left: 10px
        
    .available h4
        font-size: 13px
        padding-top: 10px
        padding-left: 80px
    
    .available h5 
        font-size: 15px
        padding-top: 13px
        padding-left: 80px
    
    .available h6 
        font-size: 13px
        padding-left: 80px

    .taken
        border: 2px solid #1A7BDB
        height: 129px
        width: 90%
        margin: auto
        border-radius: 25px
        background: $color-blue2
        box-shadow: 0px 4px 4px 0px #00000040
        margin-bottom: 25px
        color: #fff

    .taken img 
        width: 15%
        height: auto
        margin-top: 30px
        margin-bottom: auto
        display: flex
        position: absolute
        z-index: 2
        margin-left: 10px

    .taken h4
        font-size: 13px
        padding-top: 10px
        padding-left: 80px
    
    .taken h5 
        font-size: 15px
        padding-top: 13px
        padding-left: 80px
    
    .taken h6 
        font-size: 13px
        padding-left: 80px


