<div class="container-fluid">
    <img src="../assets/img/Logo-Carrier.png" id="logo" routerLink="/">
    <div class="info">
        <h5>¿Quieres ser parte de nany?</h5>
        <button type="button" class="btn btn-success" id="btn-registro" routerLink="/Requisitos">Lee los requisitos</button>
    </div>
    <form class="needs-validation" novalidate [formGroup]="formRegister">
        <div class="form-contenedor pb-1">
            <h2>Registrarse</h2>
            <div>
                <h5>Nombre</h5>
                <input type="text" class="form-control inp-form"
                    [ngClass]="{'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched), 'is-valid': nombre.valid}"
                    formControlName="nombre" required>
                <div class="invalid-feedback register-feedback" *ngIf="nombre.errors">
                    <span *ngIf="nombre.errors.maxlength">Nombre máximo de 30 caracteres</span>
                    <span *ngIf="nombre.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div>
                <h5>Apellido</h5>
                <input type="text" class="form-control inp-form"
                    [ngClass]="{'is-invalid': apellido.invalid && (apellido.dirty || apellido.touched), 'is-valid': apellido.valid}"
                    formControlName="apellido" required>
                <div class="invalid-feedback register-feedback" *ngIf="apellido.errors">
                    <span *ngIf="apellido.errors.maxlength">Apellido máximo de 30 caracteres</span>
                    <span *ngIf="apellido.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div>
                <h5>Correo electrónico</h5>
                <input type="email" class="form-control inp-form"
                    [ngClass]="{'is-invalid': correo.invalid && (correo.dirty || correo.touched), 'is-valid': correo.valid}"
                    placeholder="ejemplo@gmail.com" formControlName="correo" required>
                <div class="invalid-feedback register-feedback" *ngIf="correo.errors">
                    <span *ngIf="correo.errors.pattern">Correo Inválido</span>
                    <span *ngIf="correo.errors.required && (responseRegistro.code != 0)">Este campo no puede quedar vacío</span>
                    <span *ngIf="responseRegistro.code == 0">{{responseRegistro.message}}</span>
                </div>
            </div>
        </div>
        <div class="register">
            <div>
                <h5>Contraseña</h5>
                <input type="password" name="password" autocomplete="on" class="form-control inp-form"
                    [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}"
                    formControlName="password" required>
                <span *ngIf="!password.errors || (!password.touched && !password.dirty)" class="password-adv">Mínimo 8
                    caracteres, incluyendo al menos una mayúscula y numero.</span>
                <div class="invalid-feedback register-feedback" *ngIf="password.errors">
                    <span *ngIf="password.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Confirmar Contraseña</h5>
                <input type="password" name="confirmPassword" autocomplete="on" class="form-control inp-form"
                    [ngClass]="{'is-invalid': (confirmarPassword.value != password.value && confirmarPassword.touched), 'is-valid': (confirmarPassword.value == password.value) && confirmarPassword.touched}"
                    [formControl]="confirmarPassword" required>
                <div class="invalid-feedback register-feedback">
                    <span *ngIf="confirmarPassword.value != password.value">Contraseña no coinciden.</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Ciudad</h5>
                <select class="form-select"
                    [ngClass]="{'is-invalid': ciudad.invalid && (ciudad.dirty || ciudad.touched), 'is-valid': ciudad.valid}"
                    formControlName="ciudad" required>
                    <option disabled selected>Seleccione</option>
                    <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad.idCiudad">{{ciudad.ciudad}}</option>
                </select>
                <div class="invalid-feedback register-feedback" *ngIf="ciudad.errors">
                    <span *ngIf="ciudad.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Fecha de nacimiento</h5>
                <input type="date" class="form-control inp-form"
                    [ngClass]="{'is-invalid': fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched), 'is-valid': fechaNacimiento.valid}"
                    formControlName="fechaNacimiento" required>
                <div class="invalid-feedback register-feedback" *ngIf="fechaNacimiento.errors">
                    <span *ngIf="fechaNacimiento.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Numero de DNI</h5>
                <input type="text" class="form-control inp-form"
                    [ngClass]="{'is-invalid': dni.invalid && (dni.dirty || dni.touched), 'is-valid': dni.valid}"
                    placeholder="Forma: xxxx-xxxx-xxxxx" formControlName="dni" required>
                <div class="invalid-feedback register-feedback" *ngIf="dni.errors">
                    <span *ngIf="dni.errors.required">Este campo no puede quedar vacío</span>
                </div>
                <div *ngIf="dni.errors">
                    <span *ngIf="dni.errors.pattern  && (dni.dirty || dni.touched)" class="password-adv">Ejemplo:
                        0801-1999-03213</span>
                </div>
            </div>
            <h5>Género</h5>
            <div class="chk-form mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="genero" name="genero"
                        id="generoMale" required>
                    <label class="form-check-label" for="generoMale">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="genero" name="genero"
                        id="generoFemale" required>
                    <label class="form-check-label" for="generoFemale">Femenino</label>
                </div>
            </div>
            <h5>¿Posee motocicleta?</h5>
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="motocicleta"
                        name="motocicleta" id="motocicletaTrue" required>
                    <label class="form-check-label" for="motocicletaTrue">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="motocicleta"
                        name="motocicleta" id="motocicletaFalse" required>
                    <label class="form-check-label" for="motocicletaFalse">No</label>
                </div>
            </div>
            <h5>¿Posee licencia de conducir vigente?</h5>
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="licencia" name="licencia"
                        id="lincenciaTrue" required>
                    <label class="form-check-label" for="lincenciaTrue">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="licencia" name="licencia"
                        id="lincenciaFalse" required>
                    <label class="form-check-label" for="lincenciaFalse">No</label>
                </div>
            </div>
            <h5>¿Posee celular con datos moviles?</h5>
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="datosMoviles"
                        name="datosMoviles" id="datosMovilesTrue" required>
                    <label class="form-check-label" for="datosMovilesTrue">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="datosMoviles"
                        name="datosMoviles" id="datosMovilesFalse" required>
                    <label class="form-check-label" for="datosMovilesFalse">No</label>
                </div>
            </div>
            <div  class="pt-2">
                <h5>Nivel de experiencia</h5>
                <select class="form-select" formControlName="experiencia" required
                [ngClass]="{'is-invalid': experiencia.invalid && (experiencia.dirty || experiencia.touched), 'is-valid': experiencia.valid}">
                    <option disabled selected>Seleccione</option>
                    <option *ngFor="let experiencia of experiencias" [ngValue]="experiencia.idExperiencia">{{experiencia.experiencia}}</option>
                </select>
                <div class="invalid-feedback register-feedback" *ngIf="experiencia.errors">
                    <span *ngIf="experiencia.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <button [disabled]="formRegister.invalid || (password.value != confirmarPassword.value)" type="button"
                class="btn btn-success mt-5" id="btn-login" (click)="registrar()">Registrarse</button>
            <div class="registro-add-response">
                <span *ngIf="responseRegistro.code == 0">{{responseRegistro.message}}</span>
            </div>
            <h6>¿Ya tienes una cuenta?</h6>
            <a routerLink="/Inicio-sesion" id="registro">Inicia sesión</a>
        </div>
    </form>
</div>