<div class="container-fluid">
    <img src="../assets/img/Logo-Carrier.png" id="logo" routerLink="/">
    <div class="info">
        <h5>¿Quieres ser parte de nany?</h5>
        <button type="button" class="btn btn-success" id="btn-registro" routerLink="/Requisitos">Lee los requisitos</button>
    </div>
    <form class="needs-validation" novalidate [formGroup]="formRegister">
        <div class="form-contenedor pb-1">
            <h2>Registrarse</h2>
            <div>
                <h5>Nombre</h5>
                <input type="text" class="form-control inp-form"
                    [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched), 'is-valid': name.valid}"
                    formControlName="name" required>
                <div class="invalid-feedback register-feedback" *ngIf="name.errors">
                    <span *ngIf="name.errors.maxlength">Nombre máximo de 30 caracteres</span>
                    <span *ngIf="name.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div>
                <h5>Apellido</h5>
                <input type="text" class="form-control inp-form"
                    [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched), 'is-valid': lastName.valid}"
                    formControlName="lastName" required>
                <div class="invalid-feedback register-feedback" *ngIf="lastName.errors">
                    <span *ngIf="lastName.errors.maxlength">Apellido máximo de 30 caracteres</span>
                    <span *ngIf="lastName.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div>
                <h5>Correo electrónico</h5>
                <input type="email" class="form-control inp-form"
                    [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched), 'is-valid': email.valid}"
                    placeholder="ejemplo@gmail.com" formControlName="email" required>
                <div class="invalid-feedback register-feedback" *ngIf="email.errors">
                    <span *ngIf="email.errors.pattern">Correo Inválido</span>
                    <span *ngIf="email.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
        </div>
        <div class="register">
            <div>
                <h5>Contraseña</h5>
                <input type="password" name="password" autocomplete="on" class="form-control inp-form"
                    [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched), 'is-valid': password.valid}"
                    formControlName="password" required>
                <span *ngIf="!password.errors || (!password.touched && !password.dirty)" class="password-adv">Mínimo 8
                    caracteres, incluyendo al menos una mayúscula y numero.</span>
                <div class="invalid-feedback register-feedback" *ngIf="password.errors">
                    <span *ngIf="password.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Confirmar Contraseña</h5>
                <input type="password" name="confirmPassword" autocomplete="on" class="form-control inp-form"
                    [ngClass]="{'is-invalid': (confirmPassword.value != password.value && confirmPassword.touched), 'is-valid': (confirmPassword.value == password.value) && confirmPassword.touched}"
                    [formControl]="confirmPassword" required>
                <div class="invalid-feedback register-feedback">
                    <span *ngIf="confirmPassword.value != password.value">Contraseña no coinciden.</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Ciudad</h5>
                <select class="form-select"
                    [ngClass]="{'is-invalid': city.invalid && (city.dirty || city.touched), 'is-valid': city.valid}"
                    formControlName="city" required>
                    <option disabled selected>Seleccione</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="invalid-feedback register-feedback" *ngIf="city.errors">
                    <span *ngIf="city.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Fecha de nacimiento</h5>
                <input type="date" class="form-control inp-form"
                    [ngClass]="{'is-invalid': birthdayDate.invalid && (birthdayDate.dirty || birthdayDate.touched), 'is-valid': birthdayDate.valid}"
                    formControlName="birthdayDate" required>
                <div class="invalid-feedback register-feedback" *ngIf="birthdayDate.errors">
                    <span *ngIf="birthdayDate.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <div class="pt-2">
                <h5>Numero de DNI</h5>
                <input type="text" class="form-control inp-form"
                    [ngClass]="{'is-invalid': dni.invalid && (dni.dirty || dni.touched), 'is-valid': dni.valid}"
                    placeholder="Forma: xxxx-xxxx-xxxxx" formControlName="dni" required>
                <div class="invalid-feedback register-feedback" *ngIf="dni.errors">
                    <span *ngIf="dni.errors.required">Este campo no puede quedar vacío</span>
                </div>
                <div *ngIf="dni.errors">
                    <span *ngIf="dni.errors.pattern  && (dni.dirty || dni.touched)" class="password-adv">Ejemplo:
                        0801-1999-03213</span>
                </div>
            </div>
            <h5>Género</h5>
            <div class="chk-form mt-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="gender" name="gender"
                        id="genderMale" required>
                    <label class="form-check-label" for="genderMale">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="gender" name="gender"
                        id="genderFemale" required>
                    <label class="form-check-label" for="genderFemale">Femenino</label>
                </div>
            </div>
            <h5>¿Posee motocicleta?</h5>
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="motorcycle"
                        name="motorcycle" id="motorcycleTrue" required>
                    <label class="form-check-label" for="motorcycleTrue">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="motorcycle"
                        name="motorcycle" id="motorcycleFalse" required>
                    <label class="form-check-label" for="motorcycleFalse">No</label>
                </div>
            </div>
            <h5>¿Posee licencia de conducir vigente?</h5>
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="license" name="license"
                        id="lincenseTrue" required>
                    <label class="form-check-label" for="lincenseTrue">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="license" name="license"
                        id="lincenseFalse" required>
                    <label class="form-check-label" for="lincenseFalse">No</label>
                </div>
            </div>
            <h5>¿Posee celular con datos moviles?</h5>
            <div class="chk-form">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=true formControlName="mobileData"
                        name="mobileData" id="mobileDataTrue" required>
                    <label class="form-check-label" for="mobileDataTrue">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" [value]=false formControlName="mobileData"
                        name="mobileData" id="mobileDataFalse" required>
                    <label class="form-check-label" for="mobileDataFalse">No</label>
                </div>
            </div>
            <div  class="pt-2">
                <h5>Nivel de experiencia</h5>
                <select class="form-select" formControlName="experience" required
                [ngClass]="{'is-invalid': experience.invalid && (experience.dirty || experience.touched), 'is-valid': experience.valid}">
                    <option disabled selected>Seleccione</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="invalid-feedback register-feedback" *ngIf="experience.errors">
                    <span *ngIf="experience.errors.required">Este campo no puede quedar vacío</span>
                </div>
            </div>
            <button [disabled]="formRegister.invalid || (password.value != confirmPassword.value)" type="button"
                class="btn btn-success mt-5" id="btn-login" (click)="register()">Registrarse</button>
            <h6>¿Ya tienes una cuenta?</h6>
            <a routerLink="/Inicio-sesion" id="registro">Inicia sesión</a>
        </div>
    </form>
</div>